@page
@model Geta.Optimizely.Sitemaps.Pages.Geta.Optimizely.Sitemaps.IndexModel
@{
}

<div>
    <form method="post">
        <button type="submit" class="btn btn-secondary"
                asp-page-handler="new">
            <span data-feather="plus"></span> New sitemap
        </button>
    </form>
</div>

<div class="table-responsive mt-3">
    <table class="table table-hover table-sm">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Host</th>
                <th>Path to include</th>
                <th>Path to avoid</th>
                <th>Root page ID</th>
                <th>Debug info</th>
                <th>Format</th>
                <th></th>
            </tr>
        </thead>


        <tbody>
            <form method="post">
                @foreach (var sitemapViewModel in Model.SitemapViewModels)
                {
                    @if (Model.IsEditing(sitemapViewModel.Id))
                    {
                        <tr>
                            <td class="sitemap-name">
                                @if (Model.ShowHostsDropDown)
                                {
                                    <select asp-for="SitemapViewModel.SiteUrl" asp-items="Model.SiteHosts"></select>
                                }
                                else
                                {
                                    <label>@Model.HostLabel</label>
                                    <input type="hidden" asp-for="SitemapViewModel.SiteUrl" value="@Model.HostLabel"/>
                                }
                                <input type="text" class="form-control" asp-for="SitemapViewModel.RelativePathEditPart"/>sitemap.xml
                                <br/><br/>
                                Language:
                                <select asp-for="SitemapViewModel.LanguageBranch" asp-items="Model.LanguageBranches"></select>
                                <br/>
                                Language fallback:
                                <input type="checkbox" class="form-check-input" asp-for="SitemapViewModel.EnableLanguageFallback">
                                <br/><br/>
                                Include alternate language pages:
                                <input type="checkbox" class="form-check-input" asp-for="SitemapViewModel.IncludeAlternateLanguagePages">
                                <br/><br/>
                                Enable simple address support:
                                <input type="checkbox" class="form-check-input" asp-for="SitemapViewModel.EnableSimpleAddressSupport">
                            </td>
                            <td class="align-middle">
                                <input type="text" class="form-control align-middle" asp-for="SitemapViewModel.PathsToInclude"/>
                            </td>
                            <td class="align-middle">
                                <input type="text" class="form-control align-middle" asp-for="SitemapViewModel.PathsToAvoid"/>
                            </td>
                            <td class="align-middle">
                                <input type="text" class="form-control align-middle" asp-for="SitemapViewModel.RootPageId"/>
                            </td>
                            <td class="align-middle">
                                <input type="checkbox" class="form-check-input align-middle" asp-for="SitemapViewModel.IncludeDebugInfo">
                            </td>
                            <td>
                                <div>
                                    <label><input asp-for="SitemapViewModel.SitemapFormat" value="Standard" type="radio"/>Standard</label>
                                </div>
                                <div>
                                    <label><input asp-for="SitemapViewModel.SitemapFormat" value="Mobile" type="radio"/>Mobile</label>
                                </div>
                                <div>
                                    <label><input asp-for="SitemapViewModel.SitemapFormat" value="Commerce" type="radio"/>Commerce</label>
                                </div>
                                <div>
                                    <label><input asp-for="SitemapViewModel.SitemapFormat" value="StandardAndCommerce" type="radio"/>Standard and commerce</label>
                                </div>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-secondary"
                                        asp-page-handler="update" asp-route-id="@Model.SitemapViewModel.Id">
                                    <span data-feather="edit-2"></span> Update
                                </button>
                                <button type="submit" class="btn btn-danger"
                                        asp-page-handler="cancel">
                                    <span data-feather="x-circle"></span> Cancel
                                </button>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @sitemapViewModel.SiteUrl
                            </td>
                            <td>
                                @sitemapViewModel.PathsToInclude
                            </td>
                            <td>
                                @sitemapViewModel.PathsToAvoid
                            </td>
                            <td>@sitemapViewModel.RootPageId</td>
                            <td>@sitemapViewModel.IncludeDebugInfo</td>
                            <td>@sitemapViewModel.SitemapFormat</td>

                            <td>
                                <button type="submit" class="btn btn-secondary"
                                        asp-page-handler="edit" asp-route-id="@sitemapViewModel.Id">
                                    <span data-feather="edit"></span> Edit
                                </button>
                                <button type="submit" class="btn btn-danger"
                                        asp-page-handler="delete" asp-route-id="@sitemapViewModel.Id">
                                    <span data-feather="trash-2"></span> Delete
                                </button>
                                <button type="submit" class="btn btn-light"
                                        asp-page-handler="view">
                                    <span data-feather="eye"></span> View
                                </button>
                            </td>
                        </tr>
                    }
                }
            </form>


            @if (Model.CreateMenuIsVisible)
            {
                <form method="post">
                    <tr class="insert">
                        <td class="sitemap-name">
                            @if (Model.ShowHostsDropDown)
                            {
                                <select asp-for="SitemapViewModel.SiteUrl" asp-items="Model.SiteHosts"></select>
                            }
                            else
                            {
                                <label asp-for="SitemapViewModel.RelativePath"></label>
                                <input type="hidden" asp-for="SitemapViewModel.SiteUrl" value="@Model.HostLabel"/>
                            }

                            <input type="text" class="form-control" asp-for="SitemapViewModel.RelativePath" />sitemap.xml
                            <br /><br />
                            Language:
                            <select asp-for="SitemapViewModel.LanguageBranch" asp-items="Model.LanguageBranches"></select>
                            <br />
                            Language fallback:
                            <input type="checkbox" class="form-check-input" asp-for="SitemapViewModel.EnableLanguageFallback">
                            <br /><br />
                            Include alternate language pages:
                            <input type="checkbox" class="form-check-input" asp-for="SitemapViewModel.IncludeAlternateLanguagePages">
                            <br /><br />
                            Enable simple address support:
                            <input type="checkbox" class="form-check-input" asp-for="SitemapViewModel.EnableSimpleAddressSupport">
                        </td>
                        <td class="align-middle">
                            <input type="text" class="form-control" asp-for="SitemapViewModel.PathsToInclude" />
                        </td>
                        <td class="align-middle">
                            <input type="text" class="form-control" asp-for="SitemapViewModel.PathsToAvoid" />
                        </td>
                        <td class="align-middle">
                            <input type="text" class="form-control" asp-for="SitemapViewModel.RootPageId" />
                        </td>
                        <td class="align-middle">
                            <input type="checkbox" class="form-check-input" asp-for="SitemapViewModel.IncludeDebugInfo">
                        </td>
                        <td>
                            <div>
                                <label><input asp-for="SitemapViewModel.SitemapFormat" value="Standard" type="radio" />Standard</label>
                            </div>
                            <div>
                                <label><input asp-for="SitemapViewModel.SitemapFormat" value="Mobile" type="radio" />Mobile</label>
                            </div>
                            <div>
                                <label><input asp-for="SitemapViewModel.SitemapFormat" value="Commerce" type="radio" />Commerce</label>
                            </div>
                            <div>
                                <label><input asp-for="SitemapViewModel.SitemapFormat" value="StandardAndCommerce" type="radio" />Standard and commerce</label>
                            </div>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-secondary"
                                    asp-page-handler="create">
                                <span data-feather="edit-2"></span> Save
                            </button>
                            <button type="submit" class="btn btn-danger"
                                    asp-page-handler="cancelCreate">
                                <span data-feather="x-circle"></span> Cancel
                            </button>
                        </td>
                    </tr>
                </form>
            }

        </tbody>
    </table>
</div>
<div>
    <span class="fw-bold">NB!</span> To generate the actual sitemaps please run the scheduled task "Generate xml sitemaps".
</div>
